

$sans= roboto // 100, 300, 400, 500, 700, 900
$slab= roboto slab // 100,300,400,700
$condensed= roboto condensed //300,400,700
$thick= alfa slab one


typeface = {
  sans : {
    name : 'source sans pro',
    weight: {
      hairline: 200,
      light: 300,
      normal: 400,
      semi: 600,
      bold: 700,
      heavy: 900
    }
  },
  serif : {
    name : 'source serif pro',
    weight: {
      hairline: 200,
      light: 300,
      normal: 400,
      semi: 600,
      bold: 700,
      heavy: 900
    }
  }
}
