doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Post Process
      
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,900italic,700italic,400italic,100italic')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Alfa+Slab+One')
    
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(data-bespoke-state="green")
        h2 PostCSS
        h3 post process your css fuckers

      section(data-bespoke-backdrop="super")
        h2 Keyboard Interactions
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section.superd
        h2 Tool for ya fools
        p 
          | Autoprefixer, 
          | BEM linter, 
          | CSS MQPacker, 
          | css2modernizr, 
          | cssnext, 
          | CSSWring, 
          | data-separator, 
          | pixrem, 
          | webpcss, 
          | Pleeease, 
          | Pleeease Filters, 
          | RTLCSS, 
          | CSS Byebye, 
          | postcss-epub, 
          | doiuse, 
          | postcss-assets, 
          | ACSS, 
          | CSS Grace.

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3
          .bullet GRUNT 0.4
          .bullet +
          .bullet BOWER
          .bullet +
          .bullet YEOMAN

      section
        h2.bullet Streaming Builds
        pre.bullet.language-javascript
          code.
            gulp.src('src/foobar.styl') // <-- Read from FS
            
            // In memory transforms:
            .pipe(stylus())
              .pipe(rename({ ext: 'css' }))
                .pipe(autoprefixer())
                  .pipe(cssmin())
                    .pipe(header('/* Copyright 2014 */'))
                      
                      .pipe(gulp.dest('dist')) // <-- Write to FS

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
